<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>July 31, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Part 1</td>
        <td>Data Organization in Spreadsheets</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Part 2</td>
        <td>OpenRefine for Social Science Data</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>August 3, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Part 1</td>
        <td>Starting with R and RStudio</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>Part 2</td>
        <td>Introduction to R</td>
      </tr>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>August 4, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Part 1</td>
        <td>Starting with Data</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Part 2</td>
        <td>Data Wrangling with dplyr</td>
      </tr>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>August 5, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Part 1</td>
        <td>Data Visualization with ggplot2</td>
      </tr>
</div>
<div class="row">        <!-- days 5 and 6 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>August 6, 2026</h3>
     <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Part 1</td>
        <td>Mapping with Leaflet</td>
  </tr>
  </div>
