<div class="row">
  <div class="col-md-6">
    <h3>Week 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Friday 31-07-2026</td>
        <td>
          <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a><br>
          Making Data Tidy
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Week 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Monday 03-08-2026</td>
        <td>
          <a href="https://datacarpentry.org/r-socialsci/">Starting with R and RStudio</a><br>
          Introduction to R
        </td>
      </tr>
      <tr>
        <td>Tuesday 04-08-2026</td>
        <td>
          <a href="https://datacarpentry.org/r-socialsci/">Starting with Data</a><br>
          Data Wrangling with dplyr
        </td>
      </tr>
      <tr>
        <td>Wednesday 05-08-2026</td>
        <td>
          <a href="https://datacarpentry.org/r-socialsci/">Data Visualization with ggplot2</a>
        </td>
      </tr>
      <tr>
        <td>Thursday 06-08-2026</td>
        <td>
          Mapping with Leaflet<br>
          AI and Digital Methods
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Week 3</h3>
    <table class="table table-striped">
      <tr>
        <td>Tuesday 11-08-2026</td>
        <td>
          From the Slippy Map to the Data Underneath:<br>
          Historical Cartography with tmaps and sf Library
        </td>
      </tr>
      <tr>
        <td>Wednesday 12-08-2026</td>
        <td>
          Advancing Your Spatial Skills in R
        </td>
      </tr>
      <tr>
        <td>Evening</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td></td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
